body,
input,
button,
select,
textarea {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.card-header-title {
    gap: 10px;
}

table.is-bordered tr:last-child td,
.table.is-bordered tr:last-child th,
.table.is-narrow td,
.table.is-narrow th {
    padding: 0.6em 0.5em;
}

.table thead th {
    font-weight: 500;
}

pre.block {
    padding: 20px;
    margin: 0 0 10px 0;
}

.bar-chart {
    display: flex;
    border: 1px solid #ccc;
    height: 300px;
    margin-top: 10px;
    width: 100%;
}

.bar-segment:hover {
    background-color: #485fc7;
}

.bar-segment {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: #3850b7;
    color: #fff;
    font-size: 14px;
    width: calc(100% / var(--num-segments));
    transition: height 0.2s;
    padding: 8px 10px;
    flex-grow: 1;
}